{% extends "base.twig" %}
{% block title %}Main page{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <p class="h3">Please <a href="/login">log in</a> or <a href="/register">register</a> to continue working with the site</p>
            </div>
        </div>
    </div>
{% endblock %}