{% extends "base.twig" %}
{% block title %}Registration Form{% endblock %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-4">
                <p class="h3 text-center px-4">New User Registration</p>
                <form class="form register-form" action="/{{ formAction is defined ? formAction : '' }}" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        {% set value = defaultValues['name'] is defined ? defaultValues['name'] : '' %}
                        <label for="inputName">Name</label>
                        <input id="inputName" type="text" class="form-control" name="name"
                               placeholder="Enter name" value="{{ value }}">
                    </div>
                    <div class="form-group">
                        {% set value = defaultValues['email'] is defined ? defaultValues['email'] : '' %}
                        <label for="inputEmail">Email address</label>
                        <input id="inputEmail" type="email" class="form-control" name="email"
                               placeholder="Enter email" value="{{ value }}">
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" class="form-control" id="inputPassword"
                               aria-describedby="passwordHelpBlock" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="inputPasswordAgain">Password again</label>
                        <input type="password" name="password_again" class="form-control" id="inputPasswordAgain"
                               placeholder="Password again">
                    </div>
                    <div class="form-group">
                        <label for="photo">Photo or avatar</label>
                        <input type="file" class="form-control-file" id="photo" name="photo" accept=".png, .gif, .jpg, .jpeg">
                    </div>
                    <div class="form-row">
                        <div class="col text-right">
                            <button type="submit" class="btn btn-primary mr-2">Register</button>
                            <button type="submit" name="cancel" class="btn btn-dark">Cancel</button>
                        </div>
                    </div>
                </form>
                <p class="render-note">Made with Twig</p>
                {% if errors is defined %}
                    <div class="errors">
                        {% for error in errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}